 /* corpo */
body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background: #14222f;
    color: white;
  }

/* Banner e Texto do Banner e Input */

  .container {
    position: relative;top: 10%;
  }
  
  #image {
    margin-top:4%;
    width: 100%;
    height: 600px;
  }
  
  #texto {
    position: absolute;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times;
    color:rgb(0, 11, 20);
    left: 290px;
    top: 240px;
    font-weight: 900;
    
  } 
  #cursar {
    color: rgba(255, 72, 0, 0.959);
  }
input { 
  -webkit-border-radius: 50px;
border-radius: 50px;
  
  height: 40px;
    outline: 0;
}




/* Artigo Texto Eniac */

article{margin: 30px 30px 30px 30px;}
  #h1t {
    text-align: center;
  }
  h1{
    background-color: ;
    font-size: 3rem;
  
    color: white;
  }
  #laranja {color: #FFC107;}
  #azul{color:#2196F3;}


  /* Menu  nav logo 1 */
  .topnav {
    position: fixed;
   
    background-color: rgb(0, 0, 26);
    width: 100%;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .topnav-right {
    float: right;
  }
/* menu  2*/
#nav {
    top: 47px;
    margin-left: 25%;
  
}
.navbar {
  over
  background-color:#14222f;
  position: fixed;
  top: 20px;
  width:100%;
  text-align: center;
}
.navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;

  text-decoration: none;
  font-size: 13px;
  
}

/* Rodape */
footer {
    background-color: hsla(202, 44%, 5%, 0.719);
    height: 200px;
    color: #f2f2f2;
    top: 60%;
}
 #foot {
     text-align: center;
     padding: 5%;
 }



